<!-- About Section -->
        <section id="about" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>About Flametongue</h2>
                    <p>We make one-off, hand crafted leather items, entirely to your specification.</p>
                    <p>
                        If you have ideas for a beautiful sachel for your laptop, a modern card
                        wallet, or maybe even something intricate and highly personal, then drop us
                        a line.
                    </p>
                    <p>
                        Each item we make is a labour of love, crafted with the care and attention
                        your vision deserves.
                    </p>
                </div>
            </div>
        </section>
